/*Variables para el modo oscuro / claro*/
:root {
    --color: #333333;
    --bg-1: white;
    --bg-2: #c7c7c7;
    --bg-3: #d4d4d4;
    --bg-4: black;
    --font: inter GOOGLE;
}

.dark-mode {
    --color: white;
    --bg-1: #1f1e1e;
    --bg-2: #333232;
    --bg-3: #3b3b3b;
    --bg-4: black;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-1) ;
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    transition: background .5s, color .5s;
}

html, body {
    overflow-x: hidden;
}
/*Estilos globales para todos los elementos seleccionados de HTML*/

p {
    color: #a5a4a4;
    font-weight: bold;
}

/*EStilos globales para clase "content" y sus relaciones*/

.content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
